@model ContosoSite.Models.Sostav_of_project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sostav_of_project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_including)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_including)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_outsiding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_outsiding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musicians.Famili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musicians.Famili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
