@model ContosoSite.Models.Compositions_in_album

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>


<div>
    <h4>Compositions_in_album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Альбом
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albom.Name)
        </dd>

        <dt>
            Композиция
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compositions.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("К списку", "Index")
        </div>
    }
</div>
