@model ContosoSite.Models.Soctav_of_compositions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Soctav_of_compositions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compositions.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compositions.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { idc = Model.ID_composition,idp = Model.ID_Project }) |
    @Html.ActionLink("Back to List", "Index")
</p>
