@model ContosoSite.Models.Compositions

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить композицию @this.Model.Name?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Дата релиза
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realise_Date)
        </dd>
        @if (this.Model.Original != null)
        {

        <dt>
            Оригинал
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compositions2.Name)
        </dd>
        }
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку композиций", "Index")
        </div>
    }
</div>
